/**************************
        VARIABLES
**************************/
/**************************
          MIXINS
**************************/
/**************************
     GENERAL SETTINGS
**************************/
@import url(flip-gallery.css);
body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  color: #696969;
  background-color: #fff; }

@media (min-width: 1200px) {
  .container {
    width: 1050px; }

  header .container {
    width: 100%;
    padding: 0; } }
@media (min-width: 992px) {
  header .container {
    width: 100%;
    padding: 0; } }
@media (min-width: 768px) {
  header .container {
    width: 100%;
    padding: 0; } }
footer {
  padding: 1em 0 0;
  font-size: 0.9em;
  clear: both;
  bottom: 0; }
  footer p {
    text-align: center; }
  footer a {
    padding: 0.4em 0.6em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #767676;
    font-weight: 200; }
  footer a:hover {
    color: #fff;
    background-color: #767676; }

p {
  padding: 0 0 0.8em;
  margin: 0;
  font-weight: 300; }

a {
  text-decoration: none; }

span {
  color: #1F6FC6;
  font-weight: 300; }

.speciallink {
  text-decoration: none;
  color: #b64505;
  font-weight: 500; }

.speciallink:hover {
  color: #fff;
  background-color: #b64505; }

.specialh1 {
  font-size: 2.5em;
  font-family: "Advent Pro", sans-serif;
  /*    padding: 0 0 1.5em;*/ }

.specialh2 {
  font-size: 2em;
  font-family: "Advent Pro", sans-serif;
  padding: 0.5em 0 0.8em; }

.specialh3 {
  font-size: 1.5em;
  padding: 0.5em 0 0.3em; }

.specialh1, .specialh2, .specialh3 {
  text-align: center;
  margin: 0; }

.center {
  margin: 0 auto;
  padding: 0;
  align-content: center;
  text-align: center; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/**************************
        NAVIGATION
**************************/
.navbar {
  height: auto;
  margin-bottom: 0px;
  border: 0px none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  background-image: url(../img/bg-regularnav.png);
  background-size: cover;
  background-repeat: no-repeat; }

.navbar-brand {
  height: auto;
  width: 50px !important;
  font-size: 12px; }
  @media (min-width: 769px) {
    .navbar-brand {
      margin-left: 3% !important; } }
  .navbar-brand img {
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    /* probably not needed anymore, but doesn't hurt */
    -o-object-fit: contain;
    object-fit: contain; }

.regular-nav {
  width: 100%;
  margin-bottom: 2em; }
  .regular-nav ul {
    width: 100%;
    margin: auto;
    padding: 0;
    list-style-type: none; }
    .regular-nav ul li {
      width: 18%;
      margin: 0;
      padding: 0;
      text-align: center; }
      .regular-nav ul li a {
        width: 100%;
        margin: 0;
        padding: 1em 0;
        text-decoration: none;
        font-family: "Advent Pro", sans-serif;
        font-weight: 500;
        font-size: 1.2em;
        color: #fff;
        display: inline-block; }
      .regular-nav ul li a:hover {
        background-color: rgba(255, 255, 255, 0.6);
        color: #fff; }
    @media (max-width: 768px) {
      .regular-nav ul li {
        width: 100%;
        margin: auto; } }

#active a {
  background-color: #fff;
  color: #696969; }

/****** OFF-CANVAS ******/
.navbar-collapse {
  padding: 0; }

.navbar-toggle {
  border: 1px solid #1F6FC6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .navbar-toggle .icon-bar {
    background-color: #1F6FC6; }

header .container .navbar-collapse .collapse {
  border: none;
  display: block;
  position: absolute;
  right: -60%;
  width: 60%;
  max-height: none;
  -webkit-transition: right 0.5s ease 2s;
  -moz-transition: right 0.5s ease 2s;
  -o-transition: right 0.5s ease 2s;
  transition: right 0.5s ease 2s; }

header .container .navbar-collapse.collapse.in {
  top: auto;
  right: 0;
  width: 60%;
  position: absolute;
  -webkit-transition: right 0.5s ease 2s;
  -moz-transition: right 0.5s ease 2s;
  -o-transition: right 0.5s ease 2s;
  transition: right 0.5s ease 2s; }

@media (max-width: 768px) {
  #mainContainer {
    top: auto;
    right: 0%;
    padding: 1em;
    position: relative;
    -webkit-transition: right 0.25s ease;
    -moz-transition: right 0.25s ease;
    -o-transition: right 0.25s ease;
    transition: right 0.25s ease; } }
@media (min-width: 769px) {
  #mainContainer {
    top: 4.5em;
    margin: auto; } }

#mainContainer:focus {
  outline: none; }

#mainContainer.in {
  right: 60%; }

/*************** SPECIAL NAV *****************/
.special-nav {
  margin: auto;
  padding: 0; }
  @media (min-width: 993px) {
    .special-nav {
      width: 50%;
      height: 10em; } }
  @media (max-width: 992px) {
    .special-nav {
      width: 65%;
      height: 10em; } }
  @media (max-width: 768px) {
    .special-nav {
      width: 80%;
      height: 10em; } }
  .special-nav .special-nav-item, .special-nav .special-nav-text, .special-nav .highlight {
    height: 20%;
    margin: auto;
    text-align: center; }
    .special-nav .special-nav-item a, .special-nav .special-nav-text a, .special-nav .highlight a {
      width: 100%;
      margin: 0;
      padding: 30px 0;
      font-size: 3em;
      color: #fff;
      background-color: rgba(255, 255, 255, 0.65);
      display: inline-block; }
  .special-nav .special-nav-text {
    display: none; }
    .special-nav .special-nav-text a {
      font-size: 2.0em;
      color: #1F6FC6;
      background-color: #fff; }

.other {
  font-size: 0.5em;
  color: #696969; }
  .other a :last-child {
    margin-left: 3%; }

.highlight {
  color: #1F6FC6 !important;
  background-color: #fff; }
  .highlight a {
    color: #1F6FC6 !important; }

/******************************** 
          PAGE: HOME
********************************/
#home {
  background-image: url(../img/bg-home.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 0 1.5em;
  padding: 0;
  width: 100%;
  color: #fff; }
  @media (min-width: 993px) {
    #home {
      height: 650px; } }
  @media (max-width: 992px) {
    #home {
      height: 550px; } }
  @media (max-width: 768px) {
    #home {
      height: 500px; } }

/******************************** 
            PAGE: WEB
********************************/
.thumbnail .caption {
  color: #696969; }

#accordion {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #9c9c9c; }
  #accordion div {
    border-bottom: 10px solid lightgray; }
  #accordion h3 {
    border-bottom: 3px solid #ececec; }

/******************************** 
            PAGE: PHOTO
********************************/
.carousel {
  margin-bottom: 3em; }

.btn-default {
  color: #696969; }

.thumbnail img {
  height: 80px !important; }

.lb-caption {
  color: #fff; }

/******************************** 
            PAGE: LOGIN Private
********************************/
form {
  margin-bottom: 2em; }
  form .input-group {
    margin-bottom: 1em !important; }

/*# sourceMappingURL=custom-styles.css.map */
