/**************************
        VARIABLES
**************************/

$font-headlines: 'Advent Pro', sans-serif;

$color-background: #fff;
$color-text: #696969;
$color-link: darken(#F9640E, 15%);
$color-footer: darken(darkgray, 20%);
$color-highlight: #1F6FC6;

$light: 200;
$regular: 300;
$bold: 500;

$largest-font: 2.5em;

/**************************
          MIXINS
**************************/

@mixin header-container {
    header .container {
        width: 100%;
        padding: 0;    
    }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin off-canvas-transition {
    -webkit-transition: right 0.5s ease 2s;
    -moz-transition: right 0.5s ease 2s;
    -o-transition: right 0.5s ease 2s;
    transition: right 0.5s ease 2s;
}

@mixin zero-margin-padding {
    margin: 0;
    padding: 0;
}

@mixin background-image($imageURL) {
    background-image: $imageURL ;
    background-size: cover;
    background-repeat: no-repeat;
}

/**************************
     GENERAL SETTINGS
**************************/


body {
    @include zero-margin-padding;
    line-height: 1.3;
    color: $color-text;
    background-color: $color-background;
}

    
@media (min-width: 1200px) {
    .container {
        width: 1050px;
    }
    
    @include header-container;
}

@media (min-width: 992px) {
    @include header-container;
}

@media (min-width: 768px) {
    @include header-container;
}




footer {
    padding: 1em 0 0;
    font-size: 0.9em;
    clear: both;
    bottom: 0;
    
    p {
        text-align: center;   
    }
    
    a {
        padding: 0.4em 0.6em;
        @include border-radius(5px);
        color: $color-footer;
        font-weight: $light;
    }
    
    a:hover {
        color: $color-background;
        background-color: $color-footer;
    }
}


p {
    padding: 0 0 0.8em;
    margin: 0;
    font-weight: $regular;  
}

a {
    text-decoration: none;
}

span {
    color: $color-highlight;
    font-weight: $regular;
}

.speciallink {
    text-decoration: none;
    color: $color-link;
    font-weight: $bold;
}

.speciallink:hover {
    color: $color-background;
    background-color: $color-link; 
}

.specialh1 {
    font-size: $largest-font;
    font-family: $font-headlines;
/*    padding: 0 0 1.5em;*/
}

.specialh2 {
    font-size: $largest-font * 4/5;
    font-family: $font-headlines;
    padding: 0.5em 0 0.8em;
}

.specialh3 {
    font-size: $largest-font * 3/5;
    padding: 0.5em 0 0.3em;
    
}

.specialh1, .specialh2, .specialh3 {
    text-align: center;
    margin: 0;
}

.center {
    margin: 0 auto;
    padding: 0;
    align-content: center;
    text-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**************************
        NAVIGATION
**************************/

.navbar {

    height: auto;
    margin-bottom: 0px;
    border: 0px none;
    @include border-radius(0px);
    @include background-image(url(../img/bg-regularnav.png));
}


.navbar-brand {
    height: auto;
    width: 50px!important;
    font-size: 12px;
    
    @media(min-width: 769px) {
        margin-left: 3%!important;    
    }
    
    img {
        margin: 0 auto;
        @include border-radius(5px);

       /* probably not needed anymore, but doesn't hurt */
       -o-object-fit: contain;
       object-fit: contain; 
    }
}

.regular-nav {
    width: 100%;
    margin-bottom: 2em;
    
    ul {
        width: 100%;
        margin: auto;
        padding: 0;
        list-style-type: none;
        
        li {
            width: 18%;
            @include zero-margin-padding;
            text-align: center;
               
            a {
                width: 100%;
                margin: 0;
                padding: 1em 0;
                text-decoration: none;
                font-family: $font-headlines;
                font-weight: $bold;
                font-size: 1.2em;
                color: $color-background;
                display: inline-block;
            }
            
            a:hover {
                background-color: transparentize($color-background, 0.4);
                color: $color-background;  
            }
        }
        
        @media (max-width: 768px) {
            li {
                width: 100%;
                margin: auto;
            }        
        } 
    }
  
}


#active a {
    background-color: $color-background;
    color: $color-text;  
}

/****** OFF-CANVAS ******/

.navbar-collapse {
    padding: 0;
}

.navbar-toggle {
    border: 1px solid $color-highlight;
    @include border-radius(5px);
    
    .icon-bar {
        background-color: $color-highlight;
    }
}


header .container .navbar-collapse .collapse {
    border: none;
    display: block;
    position: absolute;
    right: -60%;
//    top: 70px;
    width: 60%;
    max-height: none;
    @include off-canvas-transition;
}

header .container .navbar-collapse.collapse.in {
    top: auto;
    right: 0;
    width: 60%;
    position: absolute;
    @include off-canvas-transition;
}


#mainContainer {
    
    @media(max-width: 768px) {
        top: auto;
        right: 0%;
        padding: 1em;
        
        position: relative;
        -webkit-transition: right 0.25s ease;
        -moz-transition: right 0.25s ease;
        -o-transition: right 0.25s ease;
        transition: right 0.25s ease;
    }
    
    @media(min-width: 769px) {
        top: 4.5em;
        margin: auto;
    }
    
    
    
}

#mainContainer:focus { outline: none; }

#mainContainer.in {
  right: 60%;

}



/*************** SPECIAL NAV *****************/

.special-nav {
    
    @media (min-width: 993px) {
        width: 50%;
        height: 10em;
    }

    @media (max-width: 992px) {
        width: 65%;
        height: 10em;
    }

    @media (max-width: 768px) {
        width: 80%;
        height: 10em;
    }
    
    margin: auto;
    padding: 0; 
    
        
    .special-nav-item {
        height: 20%;
        margin: auto;
        text-align: center;

        a {
            width: 100%;
            margin: 0;
            padding: 30px 0;
            font-size: 3em;
            color: $color-background;
            background-color: transparentize($color-background, 0.35);
            display: inline-block;
        }
    }
    
    .special-nav-text {
        @extend .special-nav-item;
        display: none;
        
        a {
            font-size: 2.0em;
            color: $color-highlight;
            background-color: $color-background;
        }
    }
    
}

.other {
    font-size: 0.5em;
    color: $color-text;
    
    a :last-child {
        margin-left: 3%;
    }
}

.highlight {
    @extend .special-nav-item;
    
    a {
       color: $color-highlight!important; 
    }
        color: $color-highlight!important;
    background-color: $color-background;
    
}


/******************************** 
          PAGE: HOME
********************************/

#home {
    @include background-image(url(../img/bg-home.png));
    margin: 0 0 1.5em;
    padding: 0;
    width: 100%;
    
    color: $color-background;
    
    @media (min-width: 993px) {
        height: 650px;
    }

    @media (max-width: 992px) {
        height: 550px;
    }

    @media (max-width: 768px) {
        height: 500px;
    }
}



/******************************** 
            PAGE: WEB
********************************/

.thumbnail .caption {
    color: $color-text;
}

#accordion {
    @include border-radius(5px);
    border: 1px solid lighten($color-text, 20%);
    
    div {
        border-bottom: 10px solid lightgray;
    }
    
    h3 {
        border-bottom: 3px solid lighten(lightgray, 10%);    
    }
}

/******************************** 
            PAGE: PHOTO
********************************/

@import "flip-gallery.css";

.carousel {
    margin-bottom: 3em;
}

.btn-default {
    color: $color-text;
}

.thumbnail img {
    height: 80px!important;
}

.lb-caption {
    color: $color-background;
}

/******************************** 
            PAGE: LOGIN Private
********************************/

form {
    margin-bottom: 2em;
    
    .input-group {
        margin-bottom: 1em!important;
    }
}